name: CI - Frontend Test, Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar dependências
        run: npm install

      - name: Rodar testes
        run: npm test

      - name: Criar build
        run: npm run build

      - name: Instalar Vercel CLI
        run: npm install -g vercel

      - name: Deploy para Vercel
        run: vercel deploy --prod --yes --token ${{ secrets.VERCEL_TOKEN }} --project ${{ secrets.VERCEL_PROJECT_ID }}
